:root {
    /* Font colors — subject to change, currently matched to Stacks design system */
    --arcadia-body-color: #1a1718;
    --arcadia-label-color: #3b393f;
    --arcadia-muted-color: #716972;
    --arcadia-link-color: #0370ab;

    --arcadia-black: #09090a;
    --arcadia-black-50: #09090a7f;
    --arcadia-black-20: #09090a33;
    --arcadia-white: #ffffff;
    --arcadia-white-50: #ffffff7f;
    --arcadia-white-20: #ffffff33;
    --arcadia-aegean: #5088C5;
    --arcadia-amber: #F28360;
    --arcadia-seaweed: #3B9886;
    --arcadia-canary: #F7B846;
    --arcadia-aster: #7A77AB;
    --arcadia-rose: #F898AE;
    --arcadia-vital: #73B5E3;
    --arcadia-tangerine: #FFB984;
    --arcadia-lime: #97CD78;
    --arcadia-dragon: #C85152;
    --arcadia-oat: #F5E4BE;
    --arcadia-wish: #BABEE0;
    --arcadia-sky: #C6E7F4;
    --arcadia-dress: #F8C5C1;
    --arcadia-taupe: #DBD1C3;
    --arcadia-denim: #B6C8D4;
    --arcadia-sage: #B5BEA4;
    --arcadia-marine: #8A99AD;
    --arcadia-mars: #DA9085;
    --arcadia-shell: #EDE0D6;
    --arcadia-gray: #EBEDE8;
    --arcadia-chateau: #BAB0A8;
    --arcadia-bark: #8F8885;
    --arcadia-slate: #43413F;
    --arcadia-charcoal: #484B50;
    --arcadia-crow: #292928;
    --arcadia-forest: #596F74;
    --arcadia-pitch: #09090A;
    --arcadia-parchment: #FDF8F2;
    --arcadia-zephyr: #F4FBFF;
    --arcadia-lichen: #F7FBEF;
    --arcadia-dawn: #F8F4F1;
    --arcadia-concord: #341E60;
    --arcadia-brightgray: #EAEAEA;
    --arcadia-paper: #FCFCFC;
    --arcadia-redwood: #52180A;
    --arcadia-depths: #09473E;
    --arcadia-soil: #4D2500;
    --arcadia-umber: #A85E28;
    --arcadia-parchment: #FDF8F2;
    --arcadia-heather: #A96789;
    --arcadia-tumbleweed: #E9A482;
    --arcadia-wheat: #F5DFB2;
    --arcadia-shire: #4E7F72;
    --arcadia-topaz: #FFCC7B;
    --arcadia-space: #282A49;
    --arcadia-butter: #FFFDBD;
    --arcadia-terracotta: #964222;
    --arcadia-blush: #FFF3F4;
    --arcadia-lilac: #6862AB;
    --arcadia-ghost: #FCF7FF;
    --arcadia-white: #FFFFFF;
    --arcadia-red: #FF0000;
    --arcadia-green: #00FF00;
    --arcadia-blue: #0000FF;
    --arcadia-cyan: #00FFFF;
    --arcadia-magenta: #FF00FF;
    --arcadia-yellow: #FFFF00;
    --arcadia-black: #000000;
    --arcadia-dusk: #094468;
    --arcadia-lapis: #2B65A1;
    --arcadia-cinnabar: #9E3F41;
    --arcadia-melon: #FFD0B0;
    --arcadia-mustard: #D68D22;
    --arcadia-sun: #FFD364;
    --arcadia-tanzanite: #54448C;
    --arcadia-iris: #DCDFEF;
    --arcadia-asparagus: #2A6B5E;
    --arcadia-teal: #6FBCAD;
    --arcadia-glass: #C3E2DB;
    --arcadia-pewter: #3b6179;
    --arcadia-azalea: #C14C70;
    --arcadia-candy: #E2718F;
    --arcadia-putty: #FFE3D4;
    --arcadia-mud: #635C5A;
    --arcadia-stone: #EDE6DA;
    --arcadia-steel: #687787;
    --arcadia-cloud: #ABBAC4;
    --arcadia-dove: #CAD4DB;
    --arcadia-ice: #E6EAED;
    --arcadia-yucca: #1E4812;
    --arcadia-fern: #47784A;
    --arcadia-matcha: #71AC5A;
    --arcadia-edamame: #C1E1AE;
}
