/* Footer styling */
.footer {
    background-color: var(--arcadia-charcoal) !important;
    padding: 2rem;
    margin-top: 4rem;
    width: 100%;
}

.footer img {
    padding: 0.25rem;
    background: var(--surrogate-paper);
    border-radius: 0.6rem;
}
